# Исключение настроек IDE/редакторов
.vscode/
root.code-workspace


# Файлы окружения
.env
.env.local
.env.*.local
myenv

# Файлы с секретами
yc_meta.json
key.json
terraform_meta.txt
terraform_vm_data.json
ansible_meta.json
.terraformrc
**/.terraformrc
.ansible_db_postgresql_vault_pass
id_ed25519
ans_vault_mediawiki_localsettings.txt
vault-id_ans_vault_secrets.txt
vault-id_ans_vault_ssh.txt

# Служебные файлы Terraform
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Кэш
**/__pycache__/
**/__pycache__

