# Исключение настроек IDE/редакторов
.vscode/
root.code-workspace


# Файлы окружения
.env
.env.local
.env.*.local

# Файлы с секретами
yc_meta.json
key.json
terraform_meta.txt
terraform_vm_data.json
ansible_meta.json
.terraformrc
**/.terraformrc

# Служебные файлы Terraform
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Кэш
**/__pycache__/
**/__pycache__

