# Исключение настроек IDE/редакторов
.vscode/
root.code-workspace


# Файлы окружения
.env
.env.local
.env.*.local

# Файлы с секретами
yc_meta.json
key.json
meta.txt

# Служебные файлы Terraform
.terraform.lock.hcl
.terraform/